body,
h1,
h3,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
dt,
dd,
p,
input,
figure {
    margin: 0;
    padding: 0;
}
h4 {
    font-weight: 400;
}
body {
    font: 14px arial, 'microsoft yahei';
    background-color: #f5f5f5;
    color: #333b36;
    /* 手机手机端取出 a标签点击高亮 */
    -webkit-tap-highlight-color: transparent;
}

w {
    width: 1200px;
    margin: 0 auto;
}

img {
    /* 解决基线对齐问题 */
    vertical-align: middle;
    border: 0 none;
    outline: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    /* color: #ff0000; */
}


/*h1,h2,h3,h4,h5,h6, {
    font-weight: 400;
}*/

li,
dd {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.w50 {
    width: 50%;
}
.br {
    border-right: 1px solid #e0e0e0;
}
.bd {
    border-bottom: 1px solid #e0e0e0;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

i,
em {
    font-style: normal;
}

.red {
    color: #d8505c;
}

greend {
    color: #2cb82c;
}



.tc {
    text-align: center;
}


/*溢出隐藏*/

.oh {
    overflow: hidden;
}

input {
    /* 清除input默认样式 */
    outline: none;
    border: none;
}

* {
    /* 内减盒模型 */
    box-sizing: border-box;
}
.poa {
    position: absolute;
}
.por {
    position: relative;
}


/* 实现(...)
前置一行显示
white-space:nowrap
溢出隐藏
overflow:hidden
显示...
text-overflow:ellipsis
*/
/**表格边框合并   border-collapse */

/* 
在移动端让区域滚动更加顺滑 在模拟器中看不到效果 需要在真机中查看
 -webkit-overflow-scrolling: touch; 
 */